#container-button{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#quickstart-button{
    font-weight: bold;
    border: 0;
    padding: 9px 10px 9px 10px;
    color: #4a4a4a;
    border-radius: 3px;
    background-color: white;
    box-shadow: 2px 2px 2px #9b9b9b;
}

#quickstart-button svg{
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}