html{
    min-width:400px
}

body {
    color: #2b2b2b;
}

#setting-container {
    width: 400px;
    padding: 30px 0 20px 0;
}

#setting-frame{
    background-color: white;
    padding: 0 20px 10px 20px;
    border-radius: 5px;
}

#interface-setting-container{
    margin-top: 5px;
}

#interface-setting-container label{
    font-size: 14px;
}

.subtitle {
    font-size: 16px;
    border-bottom: 2px solid #EAEAEA;
    margin-left: -5px;
    margin-right: -5px;
    padding: 10px 5px 2px;
}