.word-input-container{
    width: 280px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.word-input-container input{
    width: 90%;
    height: 30px;
    border-radius: 3px;
    border: none;
    background-color: white;
}

.word-input-container label{
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px 3px 0 0;
    margin-left: 10px;
    background-color: white;
    font-weight: bold;
}

.button-container{
    display: flex;
    justify-content: center;
}

#setting-button{
    color: #0288d1;
    cursor: pointer;
}
