html{
    min-width:400px
}

body {
    color: #2b2b2b;
    font-size: 14px;
    width: 400px;
}

#setting-container {
    width: 380px;
    padding: 30px 10px 20px 10px;
}

#setting-frame{
    background-color: white;
    padding: 0 20px 10px 20px;
    border-radius: 5px;
}

#user-setting-container{
    margin-top: 5px;
    display: grid;
}

#user-setting-container label {
    margin-top: 5px;
}

#interface-setting-container{
    margin-top: 5px;
    display: grid;
}

#desactivated-info {
    font-size: 11px;
}

#quickstart-button{
    font-weight: bold;
    border: 0;
    padding: 9px 10px 9px 10px;
    color: #4a4a4a;
    border-radius: 3px;
    background-color: white;
    box-shadow: 2px 2px 2px #bebebe;
}

#quickstart-button svg{
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

#current-user-email {
    width: 100%;
}


.subtitle {
    font-size: 16px;
    border-bottom: 2px solid #EAEAEA;
    margin-left: -5px;
    margin-right: -5px;
    padding: 10px 5px 2px;
}