#container-button{
    justify-content: center;
    padding: 10px 40px 10px 40px;
}

.sign-in-button {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    border: 0;
    padding: 9px 10px 9px 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #bebebe;
    cursor: pointer;
}

.sign-in-button svg{
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

#google-button{
    background-color: #FF9100;
}

#apple-button{
    background-color: white;
}
