#flip-word-hover-popup-container{
    all: initial;
    position: absolute;
    min-width: 200px;
    height: 170px;
    display: grid;
    padding: 0 10px 5px 10px;
    border: 1px solid #cbcbcb;
    background-color: #EAEAEA;
    box-shadow: 2px 2px 2px #cbcbcb;
    z-index: 2147483647;
}

.flip-word-input-word{
    all: initial;
    position: relative;
    margin: 10px;
}

.flip-word-input-container {
    margin-top: 10px;
    padding-right: 10px;
}

.flip-word-input-container input{
    all: initial;
    padding-left: 8px;
    margin-right: 10px;
    width: 100%;
    height: 30px;
    margin-top: -1px;
    border-radius: 3px;
    box-shadow: none;
    background-color: white;
    border: none;
}

.flip-word-input-container label{
    all: initial;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px 3px 0 0;
    margin-left: 18px;
    background-color: white;
    font-weight: bold;
}

.flip-word-button-container{
    all: initial;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.flip-word-extension-button{
    all: initial;
    font-weight: bold;
    border: 0;
    padding: 9px 10px 9px 10px;
    border-radius: 3px;
    background-color: #FF9100;
    box-shadow: 2px 2px 2px #9b9b9b;
    height: 20px;
}

.flip-word-extension-button svg{
    all: initial;
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}